body {
    font-family: 'Montserrat', sans-serif;
}

/* .container-fluid {
    position: relative;
} */

.banner {
    position: relative;
}

.jim-harris {
    width: 100%;
}

.form-container {
    position: absolute;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    text-align: center;
    color: white;
}

.form-container h2 {
    font-weight: 600;
    padding-top: 5vh;
}

.input-field-container {
    left: 5%;
    width: auto;
}

.input-field-container input {
    color: rgb(102, 102, 102);
    box-shadow: 0 0.2rem rgb(156, 156, 146);
    border: none;
}

.button-container {
    margin: 3% 20% 0 20%;
}

.btn-lg {
    border: none;
    color: white;
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
}

.btn-lg:first-of-type {
    background-color: rgb(0, 124, 178);
    box-shadow: 0 0.2rem rgb(0, 91, 138);
    margin-bottom: 3%;
}

.btn-lg:nth-of-type(2) {
    background-color: rgb(199, 47, 79);
    box-shadow: 0 0.2rem rgb(124, 14, 37);
}

.more-info {
    position: relative;
    height: 15vh;
    background-color: rgb(0, 91, 138);
    text-align: center;
    justify-content: center;
}

.footer-container {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: rgb(0, 124, 178);
    color: white;
    padding: 0.5rem;
}

.social-media-links .fab {
    padding: 2rem 1rem;
}

.privacy {
    font-size: 0.8rem;
}

.paid-message {
    color: rgb(64, 157, 197);
    font-size: 0.5rem;
    border: 0.1rem solid rgb(64, 157, 197);
    padding: 1rem 3rem 0 3rem;
    margin: 4px 40%;
}

/* media queries */