body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(0, 124, 178);
}

/* styling for the top banner, including form */
.banner {
    position: relative;
}

.jim-harris {
    width: 100%;
}

.form-container {
    position: absolute;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    text-align: center;
    color: white;
}

.form-container h2 {
    font-weight: 600;
    padding-top: 4rem;
}

.input-field-container {
    left: 5%;
}

.input-field-container .form-control-lg {
    color: rgb(102, 102, 102);
    font-weight: 500;
    box-shadow: 0 0.2rem rgb(156, 156, 146);
    border: none;
}

.button-container {
    margin: 3% 20% 0 20%;
}

.btn-lg {
    border: none;
    color: white;
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
}

.btn-lg:first-of-type {
    background-color: rgb(0, 124, 178);
    box-shadow: 0 0.2rem rgb(0, 91, 138);
    margin-bottom: 3%;
}

.btn-lg:nth-of-type(2) {
    background-color: rgb(199, 47, 79);
    box-shadow: 0 0.2rem rgb(124, 14, 37);
}

/* styling for the "more info" blue block */
.more-info {
    position: relative;
    background-color: rgb(0, 91, 138);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-info .btn {
    background-color: rgb(0, 91, 138);
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    border: 0.13rem solid rgb(0, 124, 178);
    padding: 1rem 4rem;
    margin: 2rem auto;
}

.collapse .card {
    background-color: rgb(64, 157, 197);
    color: white;
    margin: 0 25%;
}

/* styling for the bottom blue block (footer) */
.footer-container {
    position: relative;
    background-color: rgb(0, 124, 178);
    color: white;
    padding-top: 0.5%;
    padding-bottom: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media-links .fab {
    padding: 2rem 1rem;
}

.privacy {
    font-size: 0.8rem;
}

.paid-message {
    color: rgb(64, 157, 197);
    font-size: 0.5rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    border: 0.1rem solid rgb(64, 157, 197);
    padding: 1rem 3rem 0 3rem;
}

/* media queries */
@media (min-width: 768px) {
    .jim-harris {
        position: relative;
    }
    .form-container {
        position: relative;
    }
}

@media (min-width: 576px) {

}